*, *::before, *::after {
    box-sizing: border-box;
  }
  .weather-card {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weather-card__content {
    padding: 2%;
    margin: 2%;
    background-color:rgba(255, 255, 255, 0.9);
    width: 30%;
    border-radius: 10px;
    height: 350px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }
  #partly_cloudy {
    flex: 0 1 33%;
    margin-right: 2em;
    fill: #fff;
  }
  .weather-card__header {
    display: flex;
    line-height: 1;
     transform: rotate(0deg) scale(0.3,0.3) ; opacity: 0; 
       transform: rotate(0deg) scale(1.05,1.05) ; opacity: 1;  
       transform: rotate(0deg) scale(0.9,0.9) ;  
       transform: rotate(0deg) scale(1.0,1.0) ;  
   
  }
  
  .weather-card__temperature {
    display: block;
    font-size: 4em;
  }
  .weather-card__description {
    display: block;
    font-size: 1.5em;
  }
  .weather-card__forcast {
    width: 100%;
  }
  .weather-card__forcast > tr {
    padding: 15px;
  }
  .weather-card__forcast > tr > td {
    width: 50%;
  }
  .weather-card__navigation ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 2em 0 1em 0;
    padding: 0 0 1em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  }

  .weather-card__navigation ul > li > button {
    padding: .05em .5em;
    font-size: 1.2em;
    color:#161616;
    border: 1px solid #161616;
    outline: none;
    cursor: pointer;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: .25em;
        transition: background-color .4s ease-in-out;
        transition: border .4s ease-in-out;
  }
  .weather-card__navigation ul > li > button:hover {
    border: 1px solid #161616;
    background-color: rgba(255,255,255,.2);
  }
  .credit {
    margin-top: 10em;
    font-size: 0.65em;
    letter-spacing: 1px;
  }
  .credit > button {
    color: #fff;
  }

@media only screen and (max-width: 1025px) {
  .weather-card__navigation ul > li > button {
    font-size: 0.9em;
    }     
}


@media only screen and (max-width: 768px) {
    .weather-card__content {
        padding: 3%;
        width: 50%;
      }     
    .weather-card__navigation ul > li > button {
        font-size: 1.2em;
     }     
}

@media only screen and (max-width: 426px) {
    .weather-card__content {
        padding: 8%;
        width: 95%;
        height: 230px;
    }
        
    .weather-card__navigation ul > li > button {
      font-size: 1em;
   }  

    ul > li:nth-child(2) {
        margin: 0 10px;
    }

    .weather-card__forcast {
        display: none
    }

    .weather-card__navigation ul {
      border: none;
    }
}

